---
import Fbwhite from "../icons/Fbwhite.astro";
import Notebookwhite from "../icons/Notebookwhite.astro";
import Wswhite from "../icons/Wswhite.astro";

type Props = {
  bgcolor?: string;
};

const { bgcolor = "bg-secondary" } = Astro.props as Props;
---

<script>
  const whatsappUrl = "https://chat.whatsapp.com/HPGVBPMRGMg43Q2UiiRii";
  const facebookButton = document.getElementById("fbButton");
  facebookButton?.addEventListener("click", () => {
    window.open("http://www.facebook.com/groups/561601284963553/");
  });
  const whatsAppButton = document.getElementById("wsButton");
  whatsAppButton?.addEventListener("click", () => {
    window.open(whatsappUrl);
  });

  const ebookButton = document.getElementById("ebook");

  ebookButton?.addEventListener("click", () => {
    window.open(
      "https://incrementafiles.s3.us-west-1.amazonaws.com/Manual+del+Taller+Internacional.pdf"
    );
  });
</script>

<div class="flex flex-col order-last gap-2 p-2 md:order-none lg:gap-6 lg:p-10">
  <div class={`p-8 rounded-lg shadow-lg ${bgcolor} `}>
    <div class="flex items-center">
      <h2 class="text-3xl font-bold text-white">TIP</h2>
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="w-6 h-6 ml-2 font-bold"
        viewBox="0 0 24 24"
        stroke="#fff"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width={2}
          d="M16 17l-4 4m0 0l-4-4m4 4V3"></path>
      </svg>
    </div>
    <div class="flex flex-col gap-4">
      <p class="block font-semibold text-white">
        ¿No pudiste tomar nota o tienes dudas?
      </p>
      <p class="text-white">¡No te preocupes!</p>
      <p class="text-white">
        Vuelve a ver el video y revisa tu Cuaderno de Trabajo del Taller.
      </p>
      <p class="text-white">
        También puedes acceder al grupo de facebook y whatsapp
      </p>
    </div>
  </div>

  <div class="flex flex-col items-center gap-4 mx-2">
    <button
      class="mx-2 flex w-full items-center gap-2 rounded-lg px-4 py-2 text-sm font-semibold text-white lg:w-64 lg:py-4 bg-secondary"
      id="ebook"
    >
      <Notebookwhite /> Cuaderno de Trabajo
    </button>
  </div>
</div>
