---
import Fbwhite from '../icons/Fbwhite.astro';
import Notebookwhite from '../icons/Notebookwhite.astro';
import Wswhite from '../icons/Wswhite.astro';
---

<script>
	import { ebook } from '../../data/downloads';

	const ebookButton = document.getElementById('ebook');

	ebookButton?.addEventListener('click', () => {
		window.open(ebook);
	});
</script>

<div class="flex flex-col order-last gap-2 p-2 md:order-none lg:gap-6 lg:p-10">
	<h1 class="text-lg font-semibold text-primary">
		Cuéntanos en que podamos ayudarte:
	</h1>
	<p>
		¿Cual es el mayor desafío que tuviste al querer ofrecer o vender tus
		servicios profesionales en redes sociales?
	</p>
	<p class="font-semibold">!Nos vemos en los comentarios!</p>

	<div class="flex flex-col items-center gap-4 mx-2">
		<button
			class="mx-2 flex w-full items-center gap-2 rounded-lg px-4 py-2 text-sm font-semibold text-white lg:w-64 lg:py-4 bg-secondary"
			id="ebook"
		>
			<Notebookwhite /> Cuaderno de Trabajo
		</button>
	</div>
</div>
