---
const { sesiones } = Astro.props;

import { Image } from '@astrojs/image/components';
import '@splidejs/splide/css';

import Miniatura1 from '../../assets/Miniaturas 640px-01.png';
import Miniatura2 from '../../assets/Miniaturas 640px-02.png';
import Miniatura3 from '../../assets/Miniaturas 640px-03.png';
import Miniatura4 from '../../assets/Miniaturas 640px-04.png';

type Items = {
	id: number;
	img: any | string;
	alt: string;
	href: string;
};

const items = [
	{
		id: 1,
		img: Miniatura1,
		alt: 'foto sesion 1',
		href: '/plc1',
	},
	{
		id: 2,
		img: Miniatura2,
		alt: 'foto sesion 2',
		href: '/plc2',
	},
	{
		id: 3,
		img: Miniatura3,
		alt: 'foto sesion 3',
		href: '/plc3',
	},
	{
		id: 4,
		img: Miniatura4,
		alt: 'foto sesion 4',
		href: '/plc4',
	},
];

const clases = sesiones.map((s: number) =>
	items.find((i: Items) => i.id === s),
);
---

<script>
	import Splide from '@splidejs/splide';

	new Splide('.splide', {
		type: 'loop',
		perPage: 2,
		pauseOnHover: true,
		breakpoints: {
			820: {
				perPage: 1,
			},
		},
	}).mount();
</script>

<div class="splide" role="group" aria-label="carousel">
	<div class="splide__track">
		<ul class="splide__list">
			{
				clases.map((clase: Items) => (
					<li class="splide__slide  ">
						<a href={clase.href}>
							<Image
								src={clase.img}
								alt={clase.alt}
								width={320}
								height={201}
								format={'webp'}
								class="mx-auto"
							/>
						</a>
					</li>
				))
			}
		</ul>
	</div>
</div>
