---
import Videoplayer from '../Videoplayer.astro';
---

<div class="grid gap-4 p-4">
	<h1 class="my-4 text-2xl font-bold text-secondary text-center">
		Testimonios
	</h1>

	<Videoplayer height={320} width={320} source={'vSyVhKV4n-s'} />
	<Videoplayer height={320} width={320} source={'DUTbbtn9vJs'} />
	<Videoplayer height={320} width={320} source={'eGORT3A48l0'} />
	<Videoplayer height={320} width={320} source={'Ci3fpm-wsMo'} />
</div>
