---
import VideoPlayer from "../VideoPlayer.astro";
---

<div class="grid gap-4 p-4">
  <h1 class="mb-4 text-2xl font-bold text-secondary">Testimonios</h1>

  <VideoPlayer height={320} width={320} source={"c1XGvy-ynZs"} />
  <VideoPlayer height={320} width={320} source={"NmL3jxP9BB0"} />
  <VideoPlayer height={320} width={320} source={"6_MBqp7E3Zw"} />
  <VideoPlayer height={320} width={320} source={"gpXgrVIJrms"} />
</div>
