---
import VideoPlayer from "../VideoPlayer.astro";
---

<div class="flex flex-col items-center gap-4 p-4">
  <h1 class="mb-4 text-2xl font-bold text-secondary">Testimonios</h1>
  <VideoPlayer
    height={320}
    width={320}
    source={"https://youtu.be/iGA3w0YVac8"}
  />
  <VideoPlayer
    height={320}
    width={320}
    source={"https://youtu.be/c1XGvy-ynZs"}
  />
  <VideoPlayer
    height={320}
    width={320}
    source={"https://youtu.be/NmL3jxP9BB0"}
  />
  <VideoPlayer
    height={320}
    width={320}
    source={"https://youtu.be/6_MBqp7E3Zw"}
  />
  <VideoPlayer
    height={320}
    width={320}
    source={"https://youtu.be/gpXgrVIJrms"}
  />
</div>
