---
import Layout from "../layouts/Layout.astro";
// import FormularioVip from "../components/FormularioVip";
import { ChinneseCountDown } from "../components/counter/countdown";
import FormularioGrupoVip from "../components/FormularioGrupoVip.astro";
---

<style>
  .curved {
    background: #e7407b;
    height: 80px;
    border-top-left-radius: 75% 100%;
    border-top-right-radius: 75% 100%;
  }
</style>
<!-- <script>
  window.onload = function () {
    window.location.replace("https://www.incrementatuconsulta.com/testimonios");
  };
</script> -->

<Layout title="Grupo VIP Incrementa Tu Consulta">
  <div class="mt-4s">
    <svg
      width="265"
      height="227"
      viewBox="0 0 295 285"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
      class="mx-auto w-44"
    >
      <path d="M0.300049 241.5V208.7H8.70005V241.5H0.300049Z" fill="#21409A"
      ></path>
      <path
        d="M33.5 241.5L21.7 222V241.5H14V208.7H22.9L33.5 227V208.7H41.4V241.5H33.5Z"
        fill="#21409A"></path>
      <path
        d="M76 230.3C74.6 237.8 69.3 242.7 61.5 242.7C52.7 242.7 46 236.8 46 225.6C46 214.5 52 207.7 61.6 207.7C70 207.7 75.3 212.9 76 219.5H67.6C66.9 216.3 64.6 214.9 61.7 214.9C56.7 214.9 54.6 218.7 54.6 225C54.6 231.3 56.5 235.3 61.3 235.3C65 235.3 66.8 233.4 67.6 230.3H76Z"
        fill="#21409A"></path>
      <path
        d="M98.3001 241.5V232.6C98.3001 229.5 97.4001 228.8 95.2001 228.8H88.3001V241.5H80.1001V208.7H97.2001C103.6 208.7 107.2 212.4 107.2 217.6C107.2 222.4 105.1 224.8 102.1 225.7C104.9 226.5 106.6 228 106.6 232V241.4H98.3001V241.5ZM95.9001 222.9C98.5001 222.9 99.7001 221.7 99.7001 219.2C99.7001 216.9 98.6001 215.7 95.9001 215.7H88.4001V222.9H95.9001Z"
        fill="#21409A"></path>
      <path
        d="M112 241.5V208.7H136.7V215.7H120.2V220.8H135.2V227.9H120.2V234.3H137.5V241.5H112Z"
        fill="#21409A"></path>
      <path
        d="M166.3 241.5V221.5L162 241.5H153.7L149.5 221.6V241.5H141.7V208.7H154L158 230.7L162 208.7H174.1V241.5H166.3Z"
        fill="#21409A"></path>
      <path
        d="M179.4 241.5V208.7H204.1V215.7H187.6V220.8H202.6V227.9H187.6V234.3H204.9V241.5H179.4Z"
        fill="#21409A"></path>
      <path
        d="M228.5 241.5L216.7 222V241.5H208.9V208.7H217.8L228.4 227V208.7H236.3V241.5H228.5Z"
        fill="#21409A"></path>
      <path
        d="M249.9 241.5V215.7H240.5V208.7H267.8V215.7H258.3V241.5H249.9Z"
        fill="#21409A"></path>
      <path
        d="M285 241.5L283.4 235.3H273.1L271.2 241.5H262.3L273.4 208.7H283.3L294.3 241.5H285ZM278.2 217.7L275.2 228.5H281L278.2 217.7Z"
        fill="#21409A"></path>
      <path
        d="M12.4 283.6V257.8H3V250.8H30.3V257.8H20.8V283.6H12.4Z"
        fill="#E7407B"></path>
      <path
        d="M50.0001 250.8H58.6001V273.3C58.6001 280.7 53.8001 284.7 44.9001 284.7C36.4001 284.7 31.6001 280.7 31.6001 273.3V250.8H40.1001V272.5C40.1001 275.9 41.6001 277.7 45.0001 277.7C48.4001 277.7 49.9001 275.9 49.9001 272.5V250.8H50.0001Z"
        fill="#E7407B"></path>
      <path
        d="M102.7 272.3C101.3 279.8 96 284.7 88.2 284.7C79.4 284.7 72.7 278.8 72.7 267.6C72.7 256.5 78.7 249.7 88.3 249.7C96.7 249.7 102 254.9 102.7 261.5H94.3C93.6 258.3 91.3 256.9 88.4 256.9C83.4 256.9 81.3 260.7 81.3 267C81.3 273.3 83.2 277.3 88 277.3C91.7 277.3 93.5 275.4 94.3 272.3H102.7Z"
        fill="#E7407B"></path>
      <path
        d="M103.4 267.5C103.4 256.4 109.2 249.7 119.5 249.7C129.9 249.7 135.5 256.4 135.5 267.6C135.5 278.8 129.8 284.7 119.5 284.7C109.2 284.7 103.4 278.6 103.4 267.5ZM127.3 267.7C127.3 260.7 124.5 257.2 119.6 257.2C114.6 257.2 111.8 260.7 111.8 267.7C111.8 274.7 114.7 277.5 119.6 277.5C123.5 277.5 127.3 274.6 127.3 267.7Z"
        fill="#E7407B"></path>
      <path
        d="M157 283.6L145.2 264.1V283.6H137.4V250.8H146.3L156.9 269.1V250.8H164.8V283.6H157Z"
        fill="#E7407B"></path>
      <path
        d="M184.8 260.5C184.8 257.8 183.2 256.4 179.2 256.4C176.1 256.4 174.5 257.2 174.5 259.4C174.5 260.7 175.3 261.9 178.7 262.9C189 265.9 193.7 267.2 193.7 274.8C193.7 281.2 188.6 284.8 181 284.8C170.8 284.8 166.3 281 166.1 273.8H173.9C174 276.4 176.6 277.9 179.8 277.9C184.3 277.9 185.7 276.8 185.7 274.7C185.7 272.9 184.5 272 181.1 270.9C170.5 267.6 166.8 266 166.8 259.6C166.8 253.9 170.8 249.7 179.1 249.7C187 249.7 192.1 254.1 192.5 260.5H184.8Z"
        fill="#E7407B"></path>
      <path
        d="M213.6 250.8H222.2V273.3C222.2 280.7 217.4 284.7 208.5 284.7C200 284.7 195.2 280.7 195.2 273.3V250.8H203.7V272.5C203.7 275.9 205.2 277.7 208.6 277.7C212 277.7 213.5 275.9 213.5 272.5V250.8H213.6Z"
        fill="#E7407B"></path>
      <path
        d="M224.5 283.6V250.8H232.9V276.2H248.1V283.6H224.5V283.6Z"
        fill="#E7407B"></path>
      <path
        d="M249.3 283.6V257.8H239.9V250.8H267.2V257.8H257.7V283.6H249.3Z"
        fill="#E7407B"></path>{" "}
      <path
        d="M281.5 283.6L279.9 277.4H269.6L267.7 283.6H258.8L269.9 250.8H279.8L290.8 283.6H281.5ZM274.6 259.8L271.6 270.6H277.4L274.6 259.8Z"
        fill="#E7407B"></path>
      <path
        d="M160.5 132.8C159.9 133.1 159.7 133 159.3 132.5C153.3 123.8 140.3 123.8 134.3 132.5C133.9 133 133.7 133.1 133.1 132.8C125.4 129.2 116.5 134.4 116.4 142.6C116.4 144.6 116.4 146.6 116.4 148.6C125.1 153.5 135.2 156.3 146 156.3C157.5 156.3 168.1 153.2 177.2 147.7C177.2 145.9 177.2 144.2 177.2 142.4C177 134.4 168 129.2 160.5 132.8Z"
        fill="white"></path>
      <path
        d="M146.9 105.5C141.7 105.5 137.5 109.4 137.5 114.3C137.5 119.3 141.6 123.2 146.8 123.3C152.1 123.3 156.2 119.4 156.2 114.4C156.2 109.5 152 105.5 146.9 105.5Z"
        fill="white"></path>
      <path
        d="M165.7 115.7C161.7 115.7 158.4 118.8 158.4 122.6C158.4 126.4 161.6 129.5 165.6 129.6C169.7 129.6 172.9 126.6 172.9 122.7C172.9 118.9 169.7 115.8 165.7 115.7Z"
        fill="white"></path>
      <path
        d="M128.1 115.7C124 115.7 120.7 118.8 120.7 122.6C120.7 126.3 124 129.5 127.9 129.5C132 129.5 135.2 126.5 135.2 122.6C135.2 118.9 132 115.8 128.1 115.7Z"
        fill="white"></path>
      <path
        d="M217.8 25.9C217.2 25.1 216 25.3 215.6 26.3L211.9 36.5C211.9 36.5 211.9 38 212.1 38.3C224.2 55.9 229.8 78.4 225 102.1C218.6 134.4 193.1 160 160.7 166.5C118.7 174.9 80.7001 151.4 66.5001 115.9C66.0001 114.6 64.3001 114.2 63.1001 115.1L57.0001 120.3C56.3001 120.9 56.0001 121.9 56.4001 122.8C71.8001 158.6 108.7 183 150.7 180C196.7 176.7 234 140 238.2 94.1C240.6 68.1 232.5 44.2 217.8 25.9Z"
        fill="#FF833D"></path>
      <path
        d="M200.9 0.899982L172.9 6.59998C169.8 7.19998 168.8 11.2 171.3 13.2L174 15.3C175.8 16.7 175.9 19.4 174.3 20.9L118.3 74.7C116.9 76 114.8 76.1 113.3 74.9L94 58.5C92.6 57.3 90.4 57.3 89 58.6L38.3 105.4C36.9 106.7 36.5 108.8 37.4 110.4L41.5 118.2C42.5 120.1 45 120.5 46.5 119.1L89 80C90.4 78.7 92.6 78.7 94.1 80L114 98.4C115.5 99.8 117.8 99.7 119.2 98.3L183.4 34.2C184.7 32.9 186.7 32.7 188.2 33.8L192.1 36.5C194.2 38 197.2 36.9 197.9 34.4L205.4 5.49998C205.9 2.89998 203.6 0.399982 200.9 0.899982Z"
        fill="#21409A"></path>
      <path
        d="M204 48.6C203.4 47.5 202 47.2 201 47.9C199.2 49.2 196.7 51 196.2 51.1C194.4 51.6 191.6 51.5 188.7 48.7C188.5 48.5 188.1 48.1 187.7 47.8C187 47.2 186 47.2 185.3 47.8C180.6 52.3 175.8 56.8 171.1 61.3L154.4 77.2C143.4 87.7 132 98.5 120.9 109.2C119 111 117 111.9 114.7 111.9C111.4 111.9 109.3 109.9 108.4 109C105.4 106.1 102.3 103.2 99.3001 100.3C96.7001 97.9 94.1001 95.4 91.5001 92.8C90.4001 91.7 88.6001 91.7 87.4001 92.8C84.5001 95.6 79.2001 100.8 76.7001 103.2C75.8001 104 75.5001 105.3 76.0001 106.4C78.9001 113.5 90.7001 138.5 116.4 148.6C116.4 146.6 116.4 144.6 116.4 142.6C116.5 134.4 125.3 129.2 133.1 132.8C133.5 133 134 132.9 134.3 132.5C140.3 123.8 153.3 123.8 159.3 132.5C159.6 132.9 160.1 133 160.5 132.8C168.1 129.2 177 134.3 177.2 142.4C177.2 144.2 177.2 145.9 177.2 147.7C193.6 137.8 203.9 127.5 210 102.1C217.2 71.9 210.6 60.5 204 48.6ZM127.8 129.5C123.9 129.5 120.6 126.3 120.6 122.6C120.6 118.7 123.9 115.6 128 115.7C131.9 115.7 135.1 118.9 135.1 122.6C135.2 126.5 131.9 129.6 127.8 129.5ZM146.7 123.3C141.5 123.3 137.4 119.3 137.4 114.3C137.4 109.4 141.6 105.5 146.8 105.5C151.9 105.5 156.1 109.5 156.1 114.4C156.1 119.4 152 123.3 146.7 123.3ZM165.6 129.5C161.6 129.5 158.4 126.4 158.4 122.5C158.4 118.7 161.7 115.6 165.7 115.6C169.7 115.6 172.9 118.7 172.9 122.5C172.9 126.5 169.6 129.6 165.6 129.5Z"
        fill="#E7407B"></path>
      <path
        d="M184 75.7H176.6C175.6 75.7 174.7 76.5 174.7 77.6V84.8C174.7 85.8 173.9 86.7 172.8 86.7H165.1C164.1 86.7 163.2 87.5 163.2 88.6V95.4C163.2 96.4 164 97.3 165.1 97.3H172.8C173.8 97.3 174.7 98.1 174.7 99.2V106.4C174.7 107.4 175.5 108.3 176.6 108.3H184C185 108.3 185.9 107.5 185.9 106.4V99.2C185.9 98.2 186.7 97.3 187.8 97.3H195.5C196.5 97.3 197.4 96.5 197.4 95.4V88.6C197.4 87.6 196.6 86.7 195.5 86.7H187.8C186.8 86.7 185.9 85.9 185.9 84.8V77.6C185.9 76.5 185 75.7 184 75.7Z"
        fill="white"></path>
    </svg>
  </div>

  <div
    class="mx-4 flex flex-col items-center bg-primary p-6 font-coolvetica text-white"
  >
    <h1 class="text-lg font-bold uppercase md:text-3xl">
      este grupo estara activo hasta
    </h1>
    <div class="mt-6">
      <ChinneseCountDown client:load date={"May 15 2023 09:00"} color={false} />
    </div>
  </div>

  <div class="curved mt-8">
    <h1
      class="pt-8 text-center text-lg font-bold uppercase text-white md:text-4xl"
    >
      bienvenido al grupo vip de
    </h1>
  </div>
  <div
    class="bg-gradient-to-b from-secondary via-secondary-light to-white font-inter"
  >
    <div class="px-4 md:px-0">
      <h1
        class="text-center text-3xl font-bold uppercase text-primary md:py-8 md:text-5xl lg:text-7xl"
      >
        incrementa tu consulta
      </h1>
      <h2
        class="py-2 text-center text-xl font-bold text-white md:px-10 md:text-2xl"
      >
        Una comunidad exclusiva para quienes desean crecer, atraer más
        pacientes, transformar sus resultados, aumentar sus ventas y liberar más
        tiempo para compartir con sus seres queridos
      </h2>
      <h2
        class="text-center text-xl font-bold uppercase text-white md:text-2xl"
      >
        INGRESA YA MISMO AL GRUPO VIP DE <span class="font-bold"
          >incrementa tu consulta</span
        >
      </h2>
    </div>

    <div class="mx-auto max-w-3xl">
      <FormularioGrupoVip />
      <!-- <FormularioVip client:only="react" /> -->
    </div>

    <div class="mx-auto my-12 w-3/4 bg-mango py-0.5 md:w-1/2"></div>
    <h1
      class="mx-4 mt-10 py-10 text-center font-coolvetica text-xl font-bold text-primary md:text-4xl lg:text-6xl"
    >
      ¿Para quién es este grupo VIP?
    </h1>
  </div>
  <section class="">
    <ul class="mx-auto mt-8 md:mt-8 md:flex md:justify-center md:text-2xl">
      <div class="mx-4 md:mx-24">
        <li class="my-4 flex items-center gap-4 font-bold">
          <div class="flex-start rounded-full bg-green-600 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="white"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>Para personas que desean cambiar su vida incrementado su número de
          pacientes.
        </li>

        <li class="my-4 flex items-center gap-4 font-bold">
          <div class="rounded-full bg-green-600 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="white"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>Para quienes incluso empiezan desde cero y no saben como promocionar
          sus servicios de consulta.
        </li>
        <li class="my-4 flex items-center gap-4 font-bold">
          <div class="rounded-full bg-green-600 p-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="3"
              stroke="white"
              class="h-6 w-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M4.5 12.75l6 6 9-13.5"></path>
            </svg>
          </div>Para quien cree en sí mismo y está dispuesto a invertir en sí, para
          conseguir resultados diferentes.
        </li>
      </div>
    </ul>
    <div class="mt-8 bg-mango pb-24 pt-12 md:mt-24">
      <h1
        class="mx-4 mt-8 py-10 text-center text-xl font-bold text-white md:text-4xl lg:text-6xl"
      >
        ¿Qué beneficios tiene este grupo VIP?
      </h1>

      <div class="grid gap-8 md:grid-cols-2">
        <div>
          <img
            src="/Mentoria_grupal.png"
            alt="mentoria"
            class="mx-auto w-24 md:w-36"
          />
          <p
            class="mx-4 mt-8 text-center text-lg font-bold text-white md:mx-12 md:mt-8 md:text-xl lg:mx-36 lg:text-2xl"
          >
            Mentoria grupal privada vía zoom con Psicóloga Berenice Bastidas,
            previo a la clase número 4
          </p>
        </div>

        <div>
          <img
            src="/beneficios_exclusivos.png"
            alt="Beneficios"
            class="mx-auto w-24 md:w-36"
          />

          <p
            class="mx-4 mt-8 text-center text-lg font-bold text-white md:mx-12 md:mt-8 md:text-xl lg:mx-36 lg:text-2xl"
          >
            Beneficios exclusivos y prioridad para entrar al entrenamiento
            Avanzado Incrementa Tu Consulta
          </p>
        </div>
      </div>
    </div>
  </section>
</Layout>../components/counter/pqina ../components/counter/countdown
