---
import MainLogo from "../components/icons/MainLogo.astro";
import Videoplayer from "../components/player/Videoplayer.astro";
import Layout from "../layouts/Layout.astro";
---

<script>
  import { getRegistro } from "../hooks/getRegistro";
  import JSConfetti from "js-confetti";
  const whatsappUrl = await getRegistro();
  const jsConfetti = new JSConfetti();

  const button = document.getElementById("groupbutton");

  if (button)
    button.addEventListener("click", () => {
      jsConfetti.addConfetti();
      setTimeout(() => {
        window.window.location.replace(whatsappUrl);
      }, 1200);
    });
</script>

<Layout title="Gracias por registrarte">
  <div class="flex scale-75 transform justify-center">
    <MainLogo />
  </div>
  <div class="bg-primary-light p-8 lg:px-20">
    <h1 class="text-center text-2xl lg:text-4xl">
      ¡ESPERA! Tu registro no ha sido completado
    </h1>
    <div class="my-6 grid place-content-center md:grid-cols-2 md:gap-12">
      <div>
        <Videoplayer source={"v8vSKTwtKqI"} />
      </div>
      <div class="flex flex-col justify-center gap-6">
        <p class="mb-4 text-center text-lg font-bold md:text-3xl">
          Te falta dar un último paso.
        </p>
        <p class="text-center text-lg md:text-xl">
          Ingresa al grupo exclusivo de WhatsApp donde recibirás información
          previa y durante el entrenamiento.
        </p>
        <p class="text-center text-lg md:text-xl">
          Asegúrate de ingresar para apartar tu lugar.
        </p>
        <p class="text-center text-lg md:text-xl">
          Por cierto, en tu correo también te dejé un regalo especial.
        </p>
      </div>
    </div>

    <div class="flex justify-center pt-4">
      <button
        id="groupbutton"
        class="flex animate-bounce items-center gap-4 rounded-full bg-whats px-6 py-2 text-sm font-bold text-white hover:animate-none disabled:cursor-not-allowed lg:text-2xl"
      >
        <img src="/whatsapp-logo.webp" alt="logo whatsapp" class="h-8 w-8" />
        <span>Quiero ingresa ya al grupo de WhatsApp</span>
      </button>
    </div>
  </div>
</Layout>
