---
import Entrenamiento from "../components/Entrenamiento.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import Quien from "../components/Quien.astro";
import Testimonios from "../components/Testimonios.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Incrementa tu Consulta">
  <main class="bg-gray-100">
    <Hero />
    <Entrenamiento />
    <!-- <Quien /> -->
    <!-- <Testimonios />  -->
  </main>

  <!-- <Footer /> -->
</Layout>
