---
import VentaPuntos from "../components/venta/VentaPuntos.astro";
import Layout from "../layouts/Layout.astro";
import Programa from "../components/venta/Programa.astro";
import Bonos from "../components/venta/Bonos.astro";
import VentaFooter from "../components/venta/VentaFooter.astro";
import CTAVenta from "../components/venta/CTAVenta.astro";
import { ChinneseCountDown } from "../components/counter/countdown";
import { salesEndDate, freeEventEndDate } from "../utils/constants";
---


// <!-- <script>
//   window.onload = function () {
//     window.location.replace("https://www.incrementatuconsulta.com/");
//   };
// </script> -->

<script
  type="module"
  async
  src="https://cdn.jsdelivr.net/npm/@justinribeiro/lite-youtube@1.4.0/lite-youtube.js"
></script>

<Layout title="Inscripciones | Incrementa tu consulta">
  <div class="my-4 flex flex-col items-center justify-center">
    <h1 class="text-xl md:pb-4 md:text-2xl">Las inscripciones se abren en:</h1>
    <ChinneseCountDown
      date={freeEventEndDate}
      color={false}
      client:only="react"
    />
  </div>
  <div class="h-[380px] bg-mango md:h-[424px]">
    <img src="/whiteLogo.svg" alt="whiteLogo" class="mx-auto py-2" />
    <div class="mx-2">
      <h1
        class="text-center font-coolvetica text-4xl text-ventaBlue md:text-5xl"
      >
        Llena tu agenda de pacientes
      </h1>
      <h1
        class="text-center font-coolvetica text-3xl text-ventaBlue md:text-5xl"
      >
        Para tu consulta privada en 21 días o menos
      </h1>

      <h2 class="mt-2 text-center font-coolvetica text-white md:text-2xl">
        Ganando reconocimiento,autoridad y dinero
      </h2>
    </div>
  </div>

  <div class="relative">
    <div
      class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 transform px-4 md:w-[650px] md:px-0"
    >
      <lite-youtube
        videoid={"G-xwSscbSos"}
        class="rounded-lg shadow-lg"
        videoStartAt="1933"></lite-youtube>
    </div>
  </div>

  <div class="mx-2">
    <h2
      class="mt-36 text-center font-inter text-2xl font-bold text-primary md:mt-56"
    >
      Sólo 10 cupos disponibles para los bonos de acción rápida
    </h2>
    <div class="my-4">
      <div>
        <CTAVenta />
        <p class="pt-6 text-center text-sm md:mt-4 md:text-xl">
          Puedes diferir tus costos, hay facilidades de pago con tarjeta de
          crédito
        </p>
      </div>

      <h2 class="mt-12 text-center font-inter text-2xl">
        El programa cerrará sus puertas en:
      </h2>
      <div class="mt-8 flex justify-center">
        <ChinneseCountDown
          date={salesEndDate}
          color={false}
          client:only="react"
        />
      </div>
    </div>
    <!-- <VentaPuntos /> -->
    <Programa />
    <Bonos />
    <VentaFooter />
  </div>
</Layout>
