---
import Videoplayer from '../components/Videoplayer.astro';
import Layout from '../layouts/Layout.astro';
---

<script>
	import JSConfetti from 'js-confetti';
	import { getLead } from '../hooks/getLead';
	const jsConfetti = new JSConfetti();
	const whatsappUrl = await getLead();

	const button = document.getElementById('groupbutton');

	button?.addEventListener('click', () => {
		jsConfetti.addConfetti();
		setTimeout(() => {
			window.open(whatsappUrl, '_blank');
		}, 1200);
	});
</script>

<Layout title="Gracias Ebook">
	<section id="mycanvas">
		<h1
			class="text-3xl md:text-5xl text-primary text-center px-20 mt-4 md:mt-10 font-semibold"
		>
			¡Felicidades!
		</h1>

		<h1 class="px-20 md:text-3xl text-center md:my-10 my-4">
			Tu ebook va en camino a tu correo, pero... ¿te gustaría saber cómo atraer
			pacientes calificados a tu consultorio utilizando las redes sociales?
		</h1>

		<div
			class="grid md:grid-cols-2 mx-4 md:mx-20 md:mb-10 mb-4 gap-4 self-auto"
		>
			<div class="md:px-5 my-auto">
				<Videoplayer source="sIBXQ_1QCI8" />
			</div>
			<div class="my-auto">
				<p class="text-xl md:text-3xl text-center mt-4 md:mt-0">
					Ingresa al grupo de WhatsApp y recibe <span
						class="font-semibold text-xl md:text-5xl text-primary"
					>
						GRATIS
					</span> entrenamiento constante directamente conmigo.
				</p>
			</div>
		</div>
	</section>
	<div class="flex flex-col items-center px-4 pb-8">
		<p class="text-xl text-primary font-semibold mb-8 text-center">
			Sigue aprendiendo sobre atracción de clientes
		</p>

		<button
			id="groupbutton"
			class="px-5 py-2.5 relative rounded group overflow-hidden bg-white inline-block text-xl md:text-2xl font-semibold border-whats border-4"
		>
			<span
				class="absolute top-0 left-0 flex w-full h-0 mb-0 transition-all duration-200 ease-out transform translate-y-0 bg-whats group-hover:h-full opacity-90"
			></span>
			<span class="relative group-hover:text-white flex gap-2 items-center">
				<img src="/whatsapp-logo.webp" alt="logo whatsapp" class="h-8 w-8" />
				Ingresar a la comunidad exclusiva de WhatsApp
			</span>
		</button>
	</div>
</Layout>
