---
import PlcHeader from "../components/PlcHeader.astro";
import Layout from "../layouts/Layout.astro";
import Plc1Sidebar from "../components/plc/Plc1Sidebar.astro";
import PlcVideoPlayer from "../components/plc/PlcVideoPlayer.astro";
import CommentsFacebook from "../components/CommentsFacebook.astro";
import PlcTestimonios from "../components/plc/PlcTestimonios.astro";
import PlcRight from "../components/plc/PlcRight.astro";
---

<Layout title="Clase 1 | Incrementa tu Consulta">
  <PlcHeader bgcolor="bg-mango" date="October 17 2022 16:30" />

  <main>
    <div class="grid lg:grid-cols-4">
      <Plc1Sidebar />
      <div
        class="order-first py-8 bg-gray-100 shadow-lg lg:order-none md:col-span-3"
      >
        <PlcVideoPlayer
          titulo="Como ofrecer o vender tu consulta online"
          videoId="QtKCnfgs48k"
          clase="1"
        />
        <PlcRight sesiones={[2, 3, 4]} />
      </div>
      <div class="md:col-span-3">
        <CommentsFacebook />
      </div>
      <div class="md:col-span-3 lg:col-span-1">
        <PlcTestimonios />
      </div>
    </div>
  </main>
</Layout>
