---
import CommentsFacebook from "../components/CommentsFacebook.astro";
import Plc2Sidebar from "../components/plc/Plc2Sidebar.astro";
import PlcRight from "../components/plc/PlcRight.astro";
import PlcTestimonios from "../components/plc/PlcTestimonios.astro";
import PlcVideoPlayer from "../components/plc/PlcVideoPlayer.astro";
import PlcHeader from "../components/PlcHeader.astro";
import Layout from "../layouts/Layout.astro";

const domain = "www.incrementatuconsulta.com";
const videoId = "SOtJuKh37sc";
---

<Layout title="Clase 2 | Incrementa tu Consulta">
  <PlcHeader bgcolor="bg-secondary" date="2022-10-18T17:30:00-07:00" />
  <div class="grid sm:grid-cols-2 md:grid-cols-4">
    <div class="order-4 md:-order-1 md:">
      <Plc2Sidebar />
    </div>
    <div class="grid-cols-2 md:col-span-3">
      <div class="grid lg:grid-cols-3">
        <div class="lg:col-span-2">
          <PlcVideoPlayer
            titulo="Las top 7 formas de tener dinero online y los 5 errores de novato"
            videoId={videoId}
            clase="2"
          />
        </div>
        <div class="place-self-center">
          <iframe
            width="360"
            height="500"
            src={`https://www.youtube.com/live_chat?v=${videoId}&embed_domain=${domain}`}
          ></iframe>
        </div>
      </div>
      <div class="my-4">
        <PlcRight sesiones={[3, 4, 1]} />
      </div>
    </div>
    <div class="md:col-span-3">
      <CommentsFacebook />
    </div>
    <div class="">
      <PlcTestimonios />
    </div>
  </div>
</Layout>
