---
import Plc1Sidebar from '../components/plc/Plc1Sidebar.astro';
import PlcRight from '../components/plc/PlcRight.astro';
import PlcVideoPlayer from '../components/plc/PlcVideoPlayer.astro';
import PlcHeader from '../components/PlcHeader.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Clase 4 | Incrementa tu Consulta">
	<PlcHeader bgcolor="bg-primary" date="October 17 2022 16:30" />
	<main>
		<div class="grid lg:grid-cols-4">
			<div></div>
			<div
				class="order-first py-8 bg-gray-100 shadow-lg lg:order-none lg:col-span-2"
			>
				<PlcVideoPlayer
					titulo="Como ofrecer o vender tu consulta online"
					videoId="QtKCnfgs48k"
					clase="4"
				/>
			</div>
			<div>
				<PlcRight sesiones={[1, 2, 3]} />
			</div>
		</div>
	</main>
</Layout>
