---
import Layout from "../layouts/Layout.astro";
import MainLogo from "../assets/mainlogo.astro";
import FormularioClases from "../components/clases/FormularioClases.astro";
---

<Layout title="Registro Clases">
  <MainLogo />
</Layout>

<div
  class="bg-gradient-to-b from-secondary via-secondary-light to-white font-inter"
>
  <div class="px-4 md:px-0">
    <h1
      class="text-center text-3xl font-bold uppercase text-primary md:py-8 md:text-5xl lg:text-7xl"
    >
      incrementa tu consulta
    </h1>
    <h2
      class="py-2 text-center text-xl font-bold text-white md:px-10 md:text-2xl"
    >
      Confirmó mi participación activa para participar con la siguiente
      generación implementando el programa Incrementa Tu Consulta
    </h2>
  </div>

  <div class="mx-auto max-w-3xl">
    <FormularioClases />
  </div>
</div>
