---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Registro de Usuarios">
  <div class="bg-red-600 py-8">
    <h1
      class="px-4 text-center text-2xl font-bold text-white md:mt-4 md:px-20 md:text-5xl"
    >
      ¡Gracias! Tu registro es exitoso
    </h1>
  </div>
</Layout>
