---
import { Image } from "astro:assets";
import IncrementaLateral from "../assets/Incrementa_lateral.png";
import Videoplayer from "../components/player/Videoplayer.astro";
import Layout from "../layouts/Layout.astro";

const videos = [
  "kU8QkGrZqeM",
  "RovCZO68eRA",
  "T9bFZSCnWSo",
  "e6VitAO2H2U",
  "GcHZswjeRDI",
  "yJCuU2FncVI",
  "bUECc8ev0Bw",
  "rH_-h7V3HQ8",
  "m_7xjH8_U-U",
  "C_8I1fJf2to",
  "6r5MdgVwGlU",
  "BZCgpqnTqZw",
  "eGORT3A48l0",
  "c1XGvy-ynZs",
  "NmL3jxP9BB0",
  "4G_j_Qk7Gvc",
  "wXHrOaaJZoM",
  "E_Vtjlfbke4",
  "TFc8I4yWV6o",
  "CQgBjXeLclM",
  "QT1GhuH5WBI",
  "_dj_e5Y2XEc",
  "PtyxK0vTrPs",
  "COftyA8rQUA",
  "z6Ot5syx6n0",
  "kEHTwr5Gyc8",
  "gQuyYgoGIA8",
  "wUAiUUz9-h0",
  "-jAzvR6KWwo",
  "dMTSMj_O1mw",
];
---

<Layout title="Incrementa tu Consulta | Testiomonios">
  <div class="bg-primary pb-8">
    <div
      class="mx-auto mb-4 w-48 rounded-b-lg bg-white px-6 pb-6 shadow-lg lg:w-64"
    >
      <a href="/">
        <img
          src={"/Incrementa_lateral.png"}
          alt="Logo Incrementatuconsulta"
          width={400}
          height={100}
          class="pt-2"
        />
      </a>
    </div>
    <h1
      class="mx-4 text-center text-xl font-semibold text-white md:mt-8 lg:text-3xl"
    >
      Ellos también empezaron sin experiencia previa, conocimientos técnicos ni
      audiencia
    </h1>
    <h1
      class="mx-4 text-center text-xl font-semibold text-white md:mt-4 lg:text-3xl"
    >
      Ahora puedes conocer sus historias
    </h1>
  </div>
  <section>
    <div class="mx-auto md:p-20">
      <Videoplayer source="dhcktckrBWg" />
    </div>

    <div class="grid items-center gap-x-10 md:grid-cols-2">
      {
        videos.map((video) => (
          <div class="my-2 p-3 md:my-5">
            <Videoplayer source={video} />
          </div>
        ))
      }
    </div>
  </section>
</Layout>
