---
import { countries } from "../data/countries";
---

<!-- 
<form
  action="https://api.smtprelay.co/contact/add?version=2"
  data-id="yhWhhqdnsx"
  method="post"
  id="ewf_subscriptionForm_yhWhhqdnsx"
>
  <fieldset style="border:none;" class="webform-custominputs">
    <div class="inputs mx-4 mt-4 flex flex-col gap-4 md:mt-8">
      <div class="relative">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 20 20"
            stroke-width="1.5"
            stroke="currentColor"
            class="h-5 w-5 text-gray-500 dark:text-gray-400"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
            ></path>
          </svg>
        </div>

        <input
          maxlength="100"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          placeholder="Tú Nombre y Apellido"
          name="field_firstname"
          size="20"
          type="text"
        />
      </div>

      <div class="relative">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <svg
            aria-hidden="true"
            class="h-5 w-5 text-gray-500 dark:text-gray-400"
            fill="currentColor"
            viewBox="0 0 20 20"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
            ></path>
            <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
            ></path>
          </svg>
        </div>
        <input
          maxlength="81"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          placeholder="Tu mejor correo"
          name="email"
          size="20"
          type="email"
          required=""
        />
      </div>

      <div>
        <label for="field_country" class="mb-2 block text-sm font-medium">
          Selecciona un país
        </label>

        <select
          id="countries"
          name="field_country"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
        >
          <option value="MX" selected>México</option>
          {
            countries.map((country) => (
              <option value={country.value}>{country.name}</option>
            ))
          }
        </select>
      </div>
      <div class="relative">
        <div
          class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
        >
          <svg
            fill="#6b7280"
            class="h-5 w-5 text-gray-500 dark:text-gray-400"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
          >
            <path
              d="M 12.011719 2 C 6.5057187 2 2.0234844 6.478375 2.0214844 11.984375 C 2.0204844 13.744375 2.4814687 15.462563 3.3554688 16.976562 L 2 22 L 7.2324219 20.763672 C 8.6914219 21.559672 10.333859 21.977516 12.005859 21.978516 L 12.009766 21.978516 C 17.514766 21.978516 21.995047 17.499141 21.998047 11.994141 C 22.000047 9.3251406 20.962172 6.8157344 19.076172 4.9277344 C 17.190172 3.0407344 14.683719 2.001 12.011719 2 z M 12.009766 4 C 14.145766 4.001 16.153109 4.8337969 17.662109 6.3417969 C 19.171109 7.8517969 20.000047 9.8581875 19.998047 11.992188 C 19.996047 16.396187 16.413812 19.978516 12.007812 19.978516 C 10.674812 19.977516 9.3544062 19.642812 8.1914062 19.007812 L 7.5175781 18.640625 L 6.7734375 18.816406 L 4.8046875 19.28125 L 5.2851562 17.496094 L 5.5019531 16.695312 L 5.0878906 15.976562 C 4.3898906 14.768562 4.0204844 13.387375 4.0214844 11.984375 C 4.0234844 7.582375 7.6067656 4 12.009766 4 z M 8.4765625 7.375 C 8.3095625 7.375 8.0395469 7.4375 7.8105469 7.6875 C 7.5815469 7.9365 6.9355469 8.5395781 6.9355469 9.7675781 C 6.9355469 10.995578 7.8300781 12.182609 7.9550781 12.349609 C 8.0790781 12.515609 9.68175 15.115234 12.21875 16.115234 C 14.32675 16.946234 14.754891 16.782234 15.212891 16.740234 C 15.670891 16.699234 16.690438 16.137687 16.898438 15.554688 C 17.106437 14.971687 17.106922 14.470187 17.044922 14.367188 C 16.982922 14.263188 16.816406 14.201172 16.566406 14.076172 C 16.317406 13.951172 15.090328 13.348625 14.861328 13.265625 C 14.632328 13.182625 14.464828 13.140625 14.298828 13.390625 C 14.132828 13.640625 13.655766 14.201187 13.509766 14.367188 C 13.363766 14.534188 13.21875 14.556641 12.96875 14.431641 C 12.71875 14.305641 11.914938 14.041406 10.960938 13.191406 C 10.218937 12.530406 9.7182656 11.714844 9.5722656 11.464844 C 9.4272656 11.215844 9.5585938 11.079078 9.6835938 10.955078 C 9.7955938 10.843078 9.9316406 10.663578 10.056641 10.517578 C 10.180641 10.371578 10.223641 10.267562 10.306641 10.101562 C 10.389641 9.9355625 10.347156 9.7890625 10.285156 9.6640625 C 10.223156 9.5390625 9.737625 8.3065 9.515625 7.8125 C 9.328625 7.3975 9.131125 7.3878594 8.953125 7.3808594 C 8.808125 7.3748594 8.6425625 7.375 8.4765625 7.375 z"
            ></path>
          </svg>
        </div>

        <input
          maxlength="100"
          name="field_phone"
          size="20"
          type="text"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          placeholder="Numero Whatsapp"
        />
      </div>
      <div>
        <label for="field_pregunta1" class="mb-2 block text-sm font-medium"
          >¿Por qué quieres ser parte de Incrementa Tu Consulta?
        </label>
        <input
          maxlength="100"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          name="field_pregunta1"
          size="20"
          type="text"
          placeholder=""
        />
      </div>
      <div>
        <label for="field_pregunta2" class="mb-2 block text-sm font-medium"
          >¿Estarías dispuesto a invertir en ti mismo, ya que es un programa que
          tiene un valor por encima de $1,000 dólares?
        </label>
        <input
          maxlength="100"
          class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          name="field_pregunta2"
          size="20"
          type="text"
          placeholder=""
        />
      </div>
    </div>

    <div class="webform-lists" style="display: none;">
      <div style="display:flex;" class="checkboxes js-[11] Grupo Vip">
        <label class="container-box">
          <input
            type="checkbox"
            name="publiclistid"
            id="QPtDUmAS"
            value="744c2c13-5b13-4ca0-aeb3-e054c20972f3"
            checked="checked"
          />
        </label>
        <label class="publiclistlabel" for="QPtDUmAS">[11] Grupo Vip</label>
      </div>
    </div>
  </fieldset>
  <fieldset class="webform-options style-updated" style="border:none;">
    <input
      type="submit"
      name="submit"
      value="¡ Quiero ser VIP !"
      id="eesubmit"
      class={`mt-8 w-full rounded-lg bg-green-600 px-8 py-4 font-coolvetica text-2xl font-black text-white hover:bg-green-500 md:text-4xl`}
    />
    <input
      type="hidden"
      name="publicaccountid"
      value="9377d1ed-c310-4467-b52c-bee4e5379dcb"
    />
    <input
      type="hidden"
      name="returnUrl"
      value="https://www.incrementatuconsulta.com/graciasvip/"
    />
    <input
      type="hidden"
      name="activationReturnUrl"
      value="https://www.incrementatuconsulta.com/graciasvip/"
    />
    <input
      type="hidden"
      name="alreadyactiveurl"
      value="https://www.incrementatuconsulta.com/graciasvip/"
    />
    <input type="hidden" name="activationTemplate" value="" />
    <input type="hidden" name="source" value="WebForm" />
    <input
      type="hidden"
      name="verifyemail"
      value="false"
      id="ewf_verifyEmails"
    />
    <input type="hidden" id="ewf_captcha" name="captcha" value="false" />
    <input type="hidden" name="sendActivation" value="true" />
    <input type="hidden" name="notifyEmail" value="" />
    <button
      type="button"
      name="dismissForm"
      id="ewf_dismissForm"
      style="display:none; position: absolute; top: 0; right: 0; float: right"
      >X
    </button>
  </fieldset>
</form> -->
<form
  action="https://api.smtprelay.co/contact/add?version=2"
  data-id="yhWhhqdnsx"
  method="post"
  id="ewf_subscriptionForm_yhWhhqdnsx"
  class="EWF__form Inline"
>
  <div class="headers" style="">
    <h4 id="ewf_formheader" class="EWF__header" style="display: none;"></h4>
  </div>
  <fieldset style="border:none;" class="webform-custominputs">
    <div class="inputs">
      <div>
        <label for="email" class="requiredInput">Email</label>
        <input
          maxlength="81"
          class="form-control webform__form-control"
          name="email"
          size="20"
          type="email"
          required=""
          placeholder="Ingresa tu correo electronico"
        />
      </div>
      <div>
        <label for="field_firstname">Nombre</label>
        <input
          maxlength="100"
          class="form-control webform__form-control"
          name="field_firstname"
          size="20"
          type="text"
          false=""
          placeholder="Ingresa tu nombre"
        />
      </div>
      <div>
        <label for="field_phone">Telefono</label>
        <input
          maxlength="100"
          class="form-control webform__form-control"
          name="field_phone"
          size="20"
          type="text"
          placeholder=""
        />
      </div>
      <div>
        <label for="field_country">Pais</label>
        <input
          maxlength="100"
          class="form-control webform__form-control"
          name="field_country"
          size="20"
          type="text"
          placeholder=""
        />
      </div>
      <div>
        <label for="field_pregunta1"
          >¿Por qué quieres ser parte de Incrementa Tu Consulta?
        </label>
        <input
          maxlength="100"
          class="form-control webform__form-control"
          name="field_pregunta1"
          size="20"
          type="text"
          placeholder=""
        />
      </div>
      <div>
        <label for="field_pregunta2"
          >¿Estarías dispuesto a invertir en ti mismo, ya que es un programa que
          tiene un valor por encima de $1,000 dólares?
        </label>
        <input
          maxlength="100"
          class="form-control webform__form-control"
          name="field_pregunta2"
          size="20"
          type="text"
          placeholder=""
        />
      </div>
    </div>
    <div class="checkboxes"></div>
    <div class="webform-lists" style="display: none;">
      <div style="display:flex;" class="checkboxes js-[12] Grupo Vip">
        <label class="container-box">
          <input
            type="checkbox"
            name="publiclistid"
            id="ioCTqSTF"
            value="02029948-e9fa-4807-8848-866ed31c12c0"
            checked="checked"
          />
        </label>
        <label class="publiclistlabel" for="ioCTqSTF">[12] Grupo Vip</label>
      </div>
    </div>
    <div class="consent"></div>
  </fieldset>
  <fieldset class="webform-options style-updated" style="border:none;">
    <input
      type="submit"
      name="submit"
      value="¡ Quiero ser VIP !"
      id="eesubmit"
      class="EWF__subscribe"
    />
    <input
      type="hidden"
      name="publicaccountid"
      value="9377d1ed-c310-4467-b52c-bee4e5379dcb"
    />
    <input
      type="hidden"
      name="returnUrl"
      value="https://www.incrementatuconsulta.com/graciasvip/"
    />
    <input
      type="hidden"
      name="activationReturnUrl"
      value="https://www.incrementatuconsulta.com/graciasvip/"
    />
    <input
      type="hidden"
      name="alreadyactiveurl"
      value="https://www.incrementatuconsulta.com/graciasvip/"
    />
    <input type="hidden" name="activationTemplate" value="" />
    <input type="hidden" name="source" value="WebForm" />
    <input
      type="hidden"
      name="verifyemail"
      value="false"
      id="ewf_verifyEmails"
    />
    <input type="hidden" id="ewf_captcha" name="captcha" value="false" />
    <input type="hidden" name="sendActivation" value="true" />
    <input type="hidden" name="notifyEmail" value="" />
    <button
      type="button"
      name="dismissForm"
      id="ewf_dismissForm"
      style="display:none; position: absolute; top: 0; right: 0; float: right"
      >X
    </button>
  </fieldset>
  <div id="ewf_style" class="Inline">
    <style id="webform__main-styles">
      form.EWF__form {
        background: #f0f2f8;
        padding-top: 40px;
        padding-left: 40px;
        padding-bottom: 40px;
        padding-right: 40px;
        border-radius: 6px;
        box-sizing: border-box;
      }
      form.EWF__form p {
        color: #7d8da8;
        text-align: left;
        line-height: 14px;
        font-size: 12px;
        font-family: Arial, Helvetica, sans-serif;
        margin: 12px 0;
        font-style: normal;
        font-weight: normal;
      }
      form.EWF__form .EWF__header {
        background: transparent;
        padding-top: 0px;
        color: #32325c;
        padding-left: 0px;
        padding-bottom: 0px;
        padding-right: 0px;
        text-align: left;
        line-height: 24px;
        font-size: 22px;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: bold;
      }
      form.EWF__form label {
        line-height: 16px;
        font-size: 14px;
        color: #32325c;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        margin-bottom: 5px;
        font-style: normal;
        font-weight: bold;
        text-align: left;
      }
      form.EWF__form .EWF__subscribe {
        background: #6262fe;
        padding-top: 12px;
        line-height: 18px;
        font-size: 16px;
        color: #ffffff;
        padding-left: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        border-radius: 6px;
        border: 0;
        display: inline-block;
        width: auto;
        max-width: 100%;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        cursor: pointer;
      }
      .EWF__form .webform-options {
        text-align: center;
      }
      form.EWF__form input {
        background: #ffffff;
        padding-top: 12px;
        color: #000000;
        padding-left: 12px;
        padding-bottom: 12px;
        padding-right: 12px;
        border-radius: 0px;
        line-height: 18px;
        font-size: 16px;
        border: 0;
        width: 100%;
        max-width: 100%;
        display: block;
        font-family: Arial, Helvetica, sans-serif;
        font-style: normal;
        font-weight: normal;
        text-align: left;
      }
      form.EWF__form input::placeholder {
        color: #000000;
        font-size: 14px;
      }
      form.EWF__form .inputs > div {
        margin-bottom: 1rem;
      }
      form.EWF__form .checkboxes label,
      form.EWF__form .consent label {
        position: relative;
        cursor: pointer;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
      }
      form.EWF__form * {
        box-sizing: border-box;
      }
      form.EWF__form fieldset {
        display: block;
        padding: 0;
        margin: 0;
      }
      form.EWF__form .checkboxes input[type="checkbox"],
      form.EWF__form .consent input[type="checkbox"] {
        border: 1px solid #cfd6db;
        border-radius: 4px;
        padding: 12px;
        width: 0;
        display: inline-block;
        margin-right: 20px;
      }
      form.EWF__form .checkboxes input[type="checkbox"]:before,
      form.EWF__form .consent input[type="checkbox"]:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Warstwa_1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve' width='16' height='16'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%23FFFFFF;stroke:%23CFD6DB;%7D%0A%3C/style%3E%3Cg transform='translate(-925 -324)'%3E%3Cg transform='translate(925 324)'%3E%3Cpath class='st0' d='M4,0h8c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z'/%3E%3Cpath class='st1' d='M4,0.5h8c1.9,0,3.5,1.6,3.5,3.5v8c0,1.9-1.6,3.5-3.5,3.5H4c-1.9,0-3.5-1.6-3.5-3.5V4C0.5,2.1,2.1,0.5,4,0.5z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-color: #fff;
        width: 16px;
        height: 16px;
        content: "";
        display: block;
        cursor: pointer;
        border-radius: 4px;
      }
      form.EWF__form .checkboxes input[type="checkbox"]:hover:before,
      form.EWF__form .consent input[type="checkbox"]:hover:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;stroke:%235457ff;stroke-width:2px;%7D.b%7Bstroke:none;%7D.c%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-925 -324)'%3E%3Cg class='a' transform='translate(925 324)'%3E%3Crect class='b' width='16' height='16' rx='4'/%3E%3Crect class='c' x='1' y='1' width='14' height='14' rx='3'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
        background-color: #fff;
      }
      form.EWF__form .checkboxes input[type="checkbox"]:checked:before,
      form.EWF__form .consent input[type="checkbox"]:checked:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' id='Warstwa_1' x='0px' y='0px' viewBox='0 0 16 16' style='enable-background:new 0 0 16 16;' xml:space='preserve' width='16' height='16'%3E%3Cstyle type='text/css'%3E .st0%7Bfill:none;%7D .st1%7Bfill:%23FFFFFF;stroke:%235457FF;%7D .st2%7Bfill:%2332325C;%7D%0A%3C/style%3E%3Cg transform='translate(-925 -324)'%3E%3Cg transform='translate(925 324)'%3E%3Cpath class='st0' d='M4,0h8c2.2,0,4,1.8,4,4v8c0,2.2-1.8,4-4,4H4c-2.2,0-4-1.8-4-4V4C0,1.8,1.8,0,4,0z'/%3E%3Cpath class='st1' d='M4,0.5h8c1.9,0,3.5,1.6,3.5,3.5v8c0,1.9-1.6,3.5-3.5,3.5H4c-1.9,0-3.5-1.6-3.5-3.5V4C0.5,2.1,2.1,0.5,4,0.5z'/%3E%3C/g%3E%3Cpath class='st2' d='M938,328.9l-0.8-0.8c-0.1-0.1-0.1-0.1-0.2,0c0,0,0,0,0,0l-5.6,5.9l-2.3-2.4c-0.1-0.1-0.1-0.1-0.2,0 c0,0,0,0,0,0l-0.8,0.8c-0.1,0.1-0.1,0.2,0,0.2l3.2,3.3c0.1,0.1,0.1,0.1,0.2,0c0,0,0,0,0,0l6.5-6.9C938,329,938,328.9,938,328.9z'/%3E%3C/g%3E%3C/svg%3E");
        background-color: #fff;
      }
      form.EWF__form .checkboxes input[type="checkbox"]:hover:checked:before,
      form.EWF__form .consent input[type="checkbox"]:hover:checked:before {
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;stroke:%235457ff;stroke-width:2px;%7D.b%7Bfill:%2332325c;%7D.c%7Bstroke:none;%7D.d%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg transform='translate(-925 -324)'%3E%3Cg class='a' transform='translate(925 324)'%3E%3Crect class='c' width='16' height='16' rx='4'/%3E%3Crect class='d' x='1' y='1' width='14' height='14' rx='3'/%3E%3C/g%3E%3Cpath class='b' d='M10.032.964,9.224.118a.141.141,0,0,0-.2,0L3.384,6.02,1.124,3.653a.141.141,0,0,0-.2,0L.116,4.5a.157.157,0,0,0,0,.212L3.284,8.032a.141.141,0,0,0,.2,0l6.545-6.855A.153.153,0,0,0,10.032.964Z' transform='translate(927.925 327.925)'/%3E%3C/g%3E%3C/svg%3E");
        background-color: #fff;
      }
      form.EWF__form .EWF__error {
        color: red;
        padding-top: 10px;
      }
      form.EWF__form a {
        color: #5457ff;
        font-style: normal;
        line-height: 14px;
        font-size: 12px;
        font-weight: normal;
      }
      form.EWF__form .EWF__subscribe:disabled {
        cursor: default;
      }
      @supports (-ms-ime-align: auto) {
        form.EWF__form .checkboxes input[type="checkbox"],
        form.EWF__form .consent input[type="checkbox"] {
          width: 16px !important;
          margin-right: 5px;
        }
      }
    </style>
  </div>
</form>
