<form
  action="https://api.smtprelay.co/contact/add?version=2"
  data-id="xgJqOJUTir"
  method="post"
  id="ewf_subscriptionForm_xgJqOJUTir"
>
  <fieldset style="border:none;" class="webform-custominputs">
    <div class="inputs mx-4 mt-4 flex flex-col gap-4 md:mt-8">
      <div class="mt-2">
        <!-- <label for="field_firstname" class="mb-2 block text-sm font-medium"
          >Nombre:</label
        > -->
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 20 20"
              stroke-width="1.5"
              stroke="currentColor"
              class="h-5 w-5 text-gray-500 dark:text-gray-400"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M15.75 6a3.75 3.75 0 11-7.5 0 3.75 3.75 0 017.5 0zM4.501 20.118a7.5 7.5 0 0114.998 0A17.933 17.933 0 0112 21.75c-2.676 0-5.216-.584-7.499-1.632z"
              ></path>
            </svg>
          </div>
          <input
            type="text"
            id="field_firstname"
            name="field_firstname"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
            placeholder="Tú Nombre y Apellido"
          />
        </div>
      </div>

      <div class="mt-2">
        <!-- <label class="mb-2 block text-sm font-medium">Correo</label> -->
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <svg
              aria-hidden="true"
              class="h-5 w-5 text-gray-500 dark:text-gray-400"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              ></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              ></path>
            </svg>
          </div>
          <input
            type="email"
            id="email"
            name="email"
            class="block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-900 focus:border-blue-500 focus:ring-blue-500"
            placeholder="Tu mejor correo"
          />
        </div>
      </div>
    </div>
    <div class="checkboxes"></div>
    <div class="hidden">
      <div class="checkboxes js-[16] Lanzamiento">
        <label class="container-box">
          <input
            type="checkbox"
            name="publiclistid"
            id="zmsmOVOS"
            value="ae7f5c96-521e-4a11-87ce-4a344b990f73"
            checked="checked"
          />
        </label>
        <label class="publiclistlabel" for="zmsmOVOS">[16] Lanzamiento</label>
      </div>
    </div>
    <div class="consent">
      <div class="consentcontainer"></div>
      <div class="consentcontainer"></div>
    </div>
    <p id="ewf_datadisclaimer"></p>
  </fieldset>

  <input class="hidden" name="field_lastname" type="text" />

  <fieldset class="webform-options style-updated" style="border:none;">
    <div id="trackconsentscript"></div>

    <input
      type="submit"
      name="submit"
      value="¡Quiero tener más pacientes!"
      id="eesubmit"
      class={`mt-8 w-full transform rounded-xl bg-gradient-to-r from-teal-500 to-teal-400 px-7 py-5 font-bold leading-none text-white shadow-lg transition-all hover:scale-105
      } `}
    />

    <input
      type="hidden"
      name="publicaccountid"
      value="9377d1ed-c310-4467-b52c-bee4e5379dcb"
    />
    <input
      type="hidden"
      name="returnUrl"
      value="https://www.incrementatuconsulta.com/gracias/"
    />
    <input
      type="hidden"
      name="activationReturnUrl"
      value="https://www.incrementatuconsulta.com/gracias/"
    />
    <input
      type="hidden"
      name="alreadyactiveurl"
      value="https://www.incrementatuconsulta.com/gracias/"
    />
    <input type="hidden" name="activationTemplate" value="" />
    <input type="hidden" name="source" value="WebForm" />
    <input
      type="hidden"
      name="verifyemail"
      value="false"
      id="ewf_verifyEmails"
    />
    <input type="hidden" id="ewf_captcha" name="captcha" value="true" />
    <input type="hidden" name="sendActivation" value="false" />
    <input type="hidden" name="notifyEmail" value="" />
    <button
      type="button"
      name="dismissForm"
      id="ewf_dismissForm"
      style="display:none; position: absolute; top: 0; right: 0; float: right"
      >X
    </button>
  </fieldset>
</form>

<script>
  const form = document.querySelector("form");

  if (form) {
    const url = form.action;

    form.addEventListener("submit", (e) => {
      const lastnameInput = form.querySelector('input[name="field_lastname"]');
      const lastnameValue = (lastnameInput as HTMLInputElement).value.trim();

      const data = new FormData(form);

      if (lastnameValue !== "") {
        return;
      } else {
        fetch(url, {
          method: "POST",
          body: data,
        })
          .then((res) => res.json())
          .catch((err) => console.log(err));
      }
    });
  }
</script>
