<script>
  let isSubmitting = false;

  document.addEventListener("DOMContentLoaded", () => {
    const form = document.querySelector("form");

    if (form) {
      const url = "https://incrementaback.blancarte.workers.dev/form";
      form.addEventListener("submit", (e) => {
        const submitButton = document.querySelector(
          "#submit"
        ) as HTMLInputElement;

        e.preventDefault();

        if (isSubmitting) return;

        isSubmitting = true;
        submitButton.disabled = true;

        const emailInput = form.querySelector(
          'input[name="email"]'
        ) as HTMLInputElement;
        const lastNameInput = form.querySelector(
          'input[name="lastName"]'
        ) as HTMLInputElement;

        const emailValue = emailInput.value.trim();
        const lastNameValue = lastNameInput.value.trim();

        if (lastNameValue !== "") {
          isSubmitting = false;
          submitButton.disabled = false;
          return;
        }

        // Check if fields are filled
        if (!emailValue) {
          isSubmitting = false;
          submitButton.disabled = false;
          return;
        }

        fetch(url, {
          method: "POST",
          body: JSON.stringify({
            email: emailValue,
            eventId: 1,
          }),
          headers: {
            "Content-Type": "application/json",
          },
        })
          .then((res) => {
            if (!res.ok) {
              throw new Error("Network response was not ok " + res.statusText);
            }
            return res.json();
          })
          .then((data) => {
            window.location.href = "/gracias";
          })
          .catch((error) => {
            console.error("Error:", error);
            isSubmitting = false;
            submitButton.disabled = false;
          });
      });
    }
  });
</script>

<form method="POST">
  <fieldset style="border:none;" class="webform-custominputs">
    <div class="inputs mx-4 mt-4 flex flex-col gap-4 md:mt-8">
      <div class="mt-2">
        <div class="relative">
          <div
            class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3"
          >
            <svg
              aria-hidden="true"
              class="text-lightPurple h-5 w-5"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"
              ></path>
              <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"
              ></path>
            </svg>
          </div>
          <input
            type="email"
            id="email"
            name="email"
            class="focus:ring-blueLight block w-full rounded-lg border border-gray-300 bg-gray-50 p-2.5 pl-10 text-sm text-gray-600"
            placeholder="Tu mejor correo"
          />
        </div>
        <input type="hidden" name="lastName" />
      </div>
    </div>
  </fieldset>

  <input
    type="submit"
    name="submit"
    value="¡Quiero tener más pacientes!"
    id="submit"
    class={`mt-8 w-full transform rounded-xl bg-gradient-to-r from-blue to-purple text-white px-7 py-5 font-bold leading-none  shadow-lg transition-all hover:scale-105
      } `}
  />
</form>
