---
import HeroForm from "./HeroForm.astro";
---

<div class="h-full bg-cover pb-12 text-white">
  <h1 class="pt-2 text-center text-xl font-bold text-blue md:pt-4 md:text-3xl">
    TALLER CONSIGUE PACIENTES EN REDES SOCIALES
  </h1>
  <div class="container mx-auto">
    <div class="text-black">
      <h1
        class="mx-4 rounded-lg p-4 px-2 text-center text-xl font-semibold md:mx-auto md:px-16 md:text-3xl"
      >
        Multiplicar el número de pacientes si es posible, con el método
        Incrementa Tu Consulta
      </h1>
      <div class="grid justify-items-center md:grid-cols-2">
        <div class="order-first">
          <HeroForm />
        </div>
        <img
          src="/images/atrae.webp"
          height={512}
          alt="Berenice Bastidas"
          class="h-auto place-self-center px-6 lg:px-0"
        />
      </div>
    </div>
  </div>
</div>

<style>
  .header {
    padding-bottom: 1.52778%;
    padding-top: 0.694444%;
    padding-left: 0;
    background-color: rgba(7, 35, 147, 1);
    background-image: radial-gradient(
      circle,
      rgba(236, 19, 15, 1) 0%,
      rgba(159, 31, 29, 1) 100%
    );
  }
</style>
