---
import { freeEventEndDate } from "../utils/constants";
import HeroForm from "./HeroForm.astro";
import { ChinneseCountDown } from "./counter/countdown";
---

<div
  class="h-full bg-[#ff5c00a2] bg-[url(/background_berenice.webp)] bg-cover pb-12 text-white"
>
  <div class="header">
    <div
      class="container mx-auto grid items-center justify-items-center md:grid-cols-2"
    >
      <h1
        class="mb-4 px-2 text-center text-2xl font-bold text-white md:mb-0 md:text-3xl"
      >
        ENTRENAMIENTO DE 4 DÍAS
      </h1>
      <div>
        <ChinneseCountDown client:load color={true} date={freeEventEndDate} />
      </div>
    </div>
  </div>
  <h1 class="mt-4 text-center text-xl font-bold md:text-3xl">
    TALLER CONSIGUE PACIENTES EN REDES SOCIALES
  </h1>
  <div class="container mx-auto">
    <div>
      <h1
        class="mx-4 rounded-lg p-4 px-2 text-center text-xl font-semibold md:mx-auto md:px-16 md:text-3xl"
      >
        Conoce el método para multiplicar tu número de consultas,<span
          class="underline"
          >aplicando estrategias comprobadas por 67 expertos</span
        > y sin tener que publicar en redes todos los días
      </h1>
      <div class="grid justify-items-center md:grid-cols-2">
        <img
          src={"/incrementa_consulta.webp"}
          width={412}
          height={558}
          alt="Berenice Bastidas"
          class="place-self-center px-6 lg:px-0"
        />
        <div class="order-first md:order-last">
          <!-- <HeroForm /> -->
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .header {
    padding-bottom: 1.52778%;
    padding-top: 0.694444%;
    padding-left: 0;
    background-color: rgba(7, 35, 147, 1);
    background-image: radial-gradient(
      circle,
      rgba(236, 19, 15, 1) 0%,
      rgba(159, 31, 29, 1) 100%
    );
  }
</style>
