---
import AstroTimer from "./AstroTimer.astro";
import Formulario from "./Formulario";
const targetTime = 15 * 60 * 1000;
---

<section>
  <div class="flex flex-col items-center">
    <div
      class="px-8 py-4 border-4 border-primary items-center md:mx-24 mx-8 rounded-xl text-center"
    >
      <h1 class="md:text-3xl text-xl">4 clases gratuitas en vivo</h1>
      <h2 class="md:text-2xl text-xl font-semibold">Del 17 al 20 de octubre</h2>
    </div>
  </div>
  <div>
    <Formulario client:load />
    <div class="flex flex-col md:gap-4 items-center py-8 mx-4">
      <p class="text-2xl text-center">La oportunidad de registro expira en:</p>
      <AstroTimer targetTime={targetTime} />
    </div>
  </div>
</section>
