---
import { Image } from '@astrojs/image/components';
import HeroForm from './HeroForm.astro';
---

<section class="">
	<div class="py-8">
		<h1
			class="text-xl md:text-4xl bg-white rounded-lg px-2 mx-4 md:mx-auto p-4 font-semibold text-center md:w-3/5"
		>
			Conoce el método <span class="text-primary">para multiplicar por 2</span>
			tu número de consultas aplicando <span class="text-primary"
				>estrategias comprobadas por 67 expertos</span
			> y sin tener que publicar en redes todos los días
		</h1>
	</div>
	<div class="grid md:grid-cols-2">
		<div class="md:flex-col items-center hidden md:flex">
			<Image
				src={'/images/landing_berenice.png'}
				width={613}
				height={513}
				alt="Berenice Bastidas"
				format={'webp'}
				class="mx-auto place-self-center px-4 rounded-lg"
			/>
		</div>
		<HeroForm />
	</div>
</section>
