---
import FormularioRegistro from "./FormularioRegistro.astro";
---

<section>
  <div class="flex flex-col items-center font-semibold">
    <div class="mx-2 items-center rounded-xl px-8 py-4 text-center">
      <h1 class="text-xl md:text-[28px]">
        <span class="bg-red-600 p-[2px] uppercase">REGISTRO GRATIS</span> al taller
      </h1>
      <h2 class="text-xl font-semibold md:text-2xl">
        Evento <span class="font-bold">100%</span> online del
      </h2>
      <h2 class="text-xl font-bold md:text-2xl">6 al 11 de Septiembre</h2>
    </div>
  </div>
  <div class="flex items-center justify-center">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="3"
      stroke="currentColor"
      class="h-6 w-6 animate-bounce"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
    </svg>
    <h2 class="px-4 text-xl font-semibold md:text-[28px]">Regístrate</h2>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="3"
      stroke="currentColor"
      class="h-6 w-6 animate-bounce"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M19.5 13.5L12 21m0 0l-7.5-7.5M12 21V3"></path>
    </svg>
  </div>
  <div>
    <FormularioRegistro />

    <div class="mx-4 flex flex-col items-center py-8 md:gap-4">
      <p class="text-center text-2xl font-semibold">
        La oportunidad de registro expira en:
      </p>
      <div class="grid justify-items-center">
        <div class="mt-4 h-12 w-[300px] md:w-[450px]">
          <div class="meter red">
            <span style="width: 90%"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .meter {
    box-sizing: content-box;
    height: 25px; /* Can be anything */
    position: relative;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    padding: 5px;
    box-shadow: inset 0 -1px 1px rgba(255, 255, 255, 0.3);
  }
  .meter > span {
    display: block;
    height: 100%;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    background-color: rgb(43, 194, 83);
    background-image: linear-gradient(
      center bottom,
      rgb(43, 194, 83) 37%,
      rgb(84, 240, 84) 69%
    );
    box-shadow: inset 0 2px 9px rgba(255, 255, 255, 0.3),
      inset 0 -2px 6px rgba(0, 0, 0, 0.4);
    position: relative;
    overflow: hidden;
  }
  .meter > span:after,
  .animate > span > span {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: linear-gradient(
      -45deg,
      rgba(255, 255, 255, 0.2) 25%,
      transparent 25%,
      transparent 50%,
      rgba(255, 255, 255, 0.2) 50%,
      rgba(255, 255, 255, 0.2) 75%,
      transparent 75%,
      transparent
    );
    z-index: 1;
    background-size: 50px 50px;
    animation: move 2s linear infinite;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    overflow: hidden;
  }

  .animate > span:after {
    display: none;
  }

  @keyframes move {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 50px 50px;
    }
  }

  .red > span {
    background-image: linear-gradient(#00a896, #02c39a);
  }

  * {
    box-sizing: border-box;
  }
</style>
