<style>
  .stuff {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
  }

  @media (prefers-reduced-motion) {
    .stuff {
      transition: none;
    }
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
  .logo {
    background-color: transparent;
  }

  .logo:nth-child(2) {
    transition: 200ms;
  }
  .logo:nth-child(3) {
    transition: 400ms;
  }
  .logo:nth-child(4) {
    transition: 600ms;
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".stuff");

  hiddenElements.forEach((el) => observer.observe(el));
</script>

<section class="h-full bg-lightPurple bg-cover pb-12">
  <div class="grid gap-4 p-12 text-white md:grid-cols-2">
    <div class="place-self-center">
      <img
        src="Berenice_2.webp"
        alt="Berenice Bastidas"
        width="527"
        loading="lazy"
        class="rounded-lg"
      />
    </div>
    <div class="place-self-center">
      <h1 class="font-bold md:text-4xl">
        Hola, soy <span class="text-3xl font-bold">Berenice</span>
      </h1>
      <p class="stuff icon mt-4 pb-4 text-xl md:text-lg md:tracking-wide">
        Ayudo a médicos, dentistas, psicólogos, nutriólogos, terapeutas y otros
        profesionales que se dedican a la consulta privada particular a
        incrementar su número de pacientes con estrategia a través de internet,
        incluso si van empezando desde cero y se sienten poco tecnológicos.
        Gracias a mi formación en psicología y desarrollo personal, traigo una
        perspectiva única al marketing digital. Inicié mi viaje como emprendedor
        digital en 2016, cuando la necesidad y desesperación me llevaron a
        encontrar una forma de poder llenar mi propia agenda de pacientes para
        la terapia. En esa búsqueda cree mi propia metodología de prospección de
        pacientes, y una vez que lo resolvi para mi, ahora con mis programas
        Incrementa Tu Consulta y Aumenta Pacientes, he podido compartir este
        conocimiento con otros profesionales de la salud que se dedican a la
        consulta privada, impactando de forma positiva en la vida de más de 200
        alumnos que han pasado ya por mis formaciones de pago, teniendo
        presencia ya en 14 países de Latinoamérica. Justo por eso, porque viví
        en carne propia el pasar de ser un terapeuta en modo supervivencia a
        construir unos de los cursos online para profesionales de la salud que
        quieren incrementar su número de pacientes y vivir de su consulta, más
        importantes del mercado digital, hoy estoy aquí para compartir todo este
        conocimiento y experiencia contigo, para que no importa en qué punto
        estés en tu camino, juntos podamos alcanzar nuevos horizontes. Este
        evento 100% digital está diseñado para ayudarte a dar el primer gran
        paso. Quiero mostrarte cómo es que mis alumnos están logrando generar
        desde cientos hasta miles de dólares en ventas en 21 días o menos, sin
        sistemas complejos, tecnología cara e incluso sabiendo hacer ellos
        mismos su propia publicidad, ahorrándose con esto lo que les cobrarías
        una agencia de publicidad.
      </p>
    </div>
  </div>
</section>
