<section>
    <div class="grid md:grid-cols-2">
        <div>Imagen</div>
        <div>
            <h1>Hola, soy Berenice</h1>
            <p>
                Soy Psicóloga Berenice Bastidas y descifré como llenar mi agenda
                medio tiempo, de pacientes durante 3 años seguidos y esto fue
                antes de dedicarme a ayudar a Nutriólogos, Psicólogos,
                Terapeutas, Psicoterapeutas y Profesionales de la Salud a poder
                hacerlo para ellos mismos
            </p>
        </div>
    </div>
</section>
