---
import Videoplayer from "./Videoplayer.astro";
const { titulo, source, clase } = Astro.props;
---

<script>
  const fifteen = 15 * 60 * 1000;
  const timenow = new Date().getTime();
  const targetDate = timenow + fifteen;
</script>

<div class="mt-4 pb-4 md:mt-12">
  <h1 class="text-center text-3xl font-semibold text-primary md:text-7xl">
    Clase #{clase}
  </h1>
  <p class="my-3 mx-4 text-center text-xl md:my-8 md:text-3xl">
    {titulo}
  </p>
  <div class="56 mx-4 md:mx-auto md:w-1/2">
    <Videoplayer source={source} />
  </div>

  <!-- <div class="mx-auto my-4 flex w-3/4 justify-center rounded py-6 lg:mt-12">
    <a
      href="/inscripciones-abiertas"
      class="hover:bg-green mx-4 flex animate-none items-center gap-4 rounded-full bg-primary py-4 px-8 text-center font-bold text-white shadow-lg md:text-2xl"
    >
      Quiero Incrementar Mi Consulta
    </a>
  </div> -->
</div>
