---
import Videoplayer from "./Videoplayer.astro";
import CTAReplay from "./CTAReplay";
import AstroTimer from "./AstroTimer.astro";
const { titulo, source, clase } = Astro.props;
---

<script>
  const fifteen = 15 * 60 * 1000;
  const timenow = new Date().getTime();
  const targetDate = timenow + fifteen;
</script>

<div class="mt-4 md:mt-12 pb-4">
  <h1 class="text-3xl text-primary text-center md:text-7xl font-semibold">
    Clase #{clase}
  </h1>
  <p class="text-center text-xl md:text-3xl md:my-8 my-3 mx-4">
    {titulo}
  </p>
  <div class="md:w-1/2 md:mx-auto 56 mx-4">
    <Videoplayer source={source} />
  </div>

  <div class="flex justify-center py-6 w-3/4 mx-auto my-4 rounded lg:mt-12">
    <a
      href="/inscripciones-abiertas"
      class="flex bg-primary py-4 px-8 items-center rounded-full gap-4 md:text-2xl text-white font-bold shadow-lg hover:bg-green animate-none mx-4 text-center"
    >
      Quiero Incrementar Mi Consulta
    </a>
  </div>
</div>
