---
import Videoplayer from "./Videoplayer.astro";
const { titulo, source, clase } = Astro.props;
---

<script>
  import { getRegistro } from "../hooks/getRegistro";
  import JSConfetti from "js-confetti";
  const whatsappUrl = await getRegistro();
  const jsConfetti = new JSConfetti();

  const button = document.querySelectorAll("#groupbutton").forEach((e) => {
    e.addEventListener("click", () => {
      jsConfetti.addConfetti();
      setTimeout(() => {
        window.window.location.replace(whatsappUrl);
      }, 1200);
    });
  });
</script>

<div class="mt-4 pb-4 md:mt-12">
  <h1 class="text-center text-3xl font-semibold text-primary md:text-7xl">
    Clase #{clase}
  </h1>
  <p class="my-3 mx-4 text-center text-xl md:my-8 md:text-3xl">
    {titulo}
  </p>
  <div class="56 mx-4 md:mx-auto md:w-1/2">
    <Videoplayer source={source} />
  </div>

  <div class="mx-auto my-2 flex w-3/4 justify-center rounded py-6 lg:mt-12">
    <button
      id="groupbutton"
      class="mt-8 flex items-center gap-4 rounded-full bg-green-600 py-2 px-8 font-bold text-white shadow-lg md:text-2xl"
    >
      <img src="/whatsapp-logo.webp" alt="logo whatsapp" class="h-8 w-8" />
      Pulsa el botón para unirte al grupo
    </button>
  </div>
</div>
