---
import { testimoniosData } from "../data/testimoniosData";
import Card from "./Card.astro";
import "@splidejs/splide/css";
---

<script>
  import Splide from "@splidejs/splide";
  const splide = new Splide(".carousel", {
    type: "slide",
    perPage: 2,
    autoScroll: {
      speed: 0.4,
    },
    pauseOnHover: true,
    breakpoints: {
      954: {
        perPage: 1,
      },
    },
  });
  splide.mount();
</script>
<section class="bg-secondary py-12">
  <div class="container">
    <h1
      class="container mx-auto w-3/4 text-center text-2xl font-semibold text-white md:text-4xl"
    >
      ¿Se puede multiplicar el número de consultas en pocos días?
    </h1>
    <h2 class="mb-8 text-center font-semibold text-white md:text-3xl">
      Ellos lograron eso y mucho más
    </h2>
  </div>

  <div class="splide carousel mx-auto w-3/4" role="group" aria-label="carousel">
    <div class="splide__track">
      <ul class="splide__list">
        {
          testimoniosData.map((testimonio) => (
            <li class="splide__slide ">
              <Card
                nombre={testimonio.nombre}
                contenido={testimonio.contenido}
                img={testimonio.img}
                titulo={testimonio.titulo}
              />
            </li>
          ))
        }
      </ul>
    </div>
  </div>
</section>
