<style>
	.spacer {
		aspect-ratio: 960/128;
		width: 100%;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}

	.layer1 {
		background-image: url('./venta/layeredbono.svg');
	}
</style>

<div>
	<div class="spacer layer1"></div>
	<div class="bg-[#ff8840] py-4">
		<h2 class="font-coolvetica text-base md:text-2xl text-white text-center">
			También obtendrás estos 5
		</h2>
		<h1
			class="font-black font-inter text-3xl md:text-6xl text-white text-center mt-2 md:mt-4"
		>
			BONOS DE REGALO
		</h1>
	</div>
</div>
