---
import FbWhite from "../icons/Fbwhite.astro";
import InstaWhite from "../icons/InstaWhite.astro";
import Ytwhite from "../icons/Ytwhite.astro";
---

<script>
  document
    .getElementById("facebook")
    ?.addEventListener("click", () =>
      window.open(
        "http://www.facebook.com/Psic%C3%B3loga-Berenice-Bastidas-Incrementa-tu-consulta-365202393876165/"
      )
    );

  document
    .getElementById("yt")
    ?.addEventListener("click", () =>
      window.open("https://www.youtube.com/channel/UCoiQ74yUzLm6ZRUcB_rhPIQ")
    );

  document
    .getElementById("insta")
    ?.addEventListener("click", () =>
      window.open("https://www.instagram.com/psicologaberenice/")
    );
</script>

<div class="border-b-8 border-t-8 border-b-blue border-t-purple"></div>
<div class="bg-blueLight px-5 pb-12 pt-4 md:px-20">
  <div class="grid justify-items-center gap-4 lg:grid-cols-4">
    <img src="/whiteLogo.svg" alt="logo incrementa" />

    <p
      class="footer-text place-selft-center text-center text-white lg:col-span-2"
    >
      Legal Terms - Acerca de las politicas de privacidad y uso de cookies
      Incrementa tu consulta Derechos reservados 2021
      https://incrementatuconsulta.com Psicologa Berenice Bastidas Mexicali Baja
      California, México <br /> Whatsapp: + 52 (686) 234-9366
    </p>
    <div class="mb-2 flex items-center gap-4 md:mb-0">
      <button id="facebook">
        <FbWhite />
      </button>
      <button id="yt">
        <Ytwhite />
      </button>
      <button id="insta">
        <InstaWhite />
      </button>
    </div>
  </div>
  <p class="text-mini mt-4 text-white">
    Este sitio no forma parte del sitio de Facebook o Facebook Inc. Además, este
    sitio NO está respaldado por Facebook de ninguna manera. FACEBOOK es una
    marca registrada de FACEBOOK, Inc. Cuando se registre para este taller
    gratuito, ocasionalmente recibirá correos electrónicos gratuitos, consejos
    útiles, videos y actualizaciones para hacer crecer tu lista de pacientes y
    temas relacionados. Estamos compartiendo lo que hemos aprendido de nuestras
    experiencias y la de nuestros estudiantes del entrenamiento incrementa tu
    consulta y esta información no es garantía de ganancias o resultados. Si
    desea dejar de recibir nuestros correos electrónicos, puede darse de baja en
    cualquier momento que así lo desee, utilizando el enlace para des
    suscribirse que aparecerá en los correos electrónicos.
  </p>
</div>
