---
import Videoplayer from "../player/Videoplayer.astro";
import Check from "./Check.astro";
import CTAVenta from "./CTAVenta.astro";
import NewFooter from "./NewFooter.astro";
import Preguntas from "./Preguntas.astro";

const footerData = [
  {
    desc: "El programa incrementa tu consulta completo tiene un valor aproximado de ",
    price: "$997 dólares",
  },
  {
    desc: "Servicio de soporte y ayuda Valorado en",
    price: "$200 dólares",
  },
  {
    desc: "Ticket VIP por un año Valorado en",
    price: "$100 dólares",
  },
  {
    desc: "App Mobile Valorado en",
    price: "$50 dólares",
  },
  {
    desc: "Plan de estudios Valorado en",
    price: "$50 dólares",
  },
  {
    desc: "Membresía en la comunidad internacional Invaluable",
  },
  {
    desc: "Crea anuncios potentes Valorado en",
    price: "$500 dólares",
  },
  {
    desc: "Templetes de poder Valorado en",
    price: "$200 dólares",
  },
  {
    desc: "Coaching en mentoría uno a uno Valorado en",
    price: "$300 dólares",
  },
];
---

<style>
  span.short::after {
    content: " ";
    flex: 1;
    border-bottom: 2px dotted #000;
    margin: 0 1rem;
  }
  span.short {
    font-size: 0.8rem;
    font-style: italic;
    flex: 1;
    display: flex;
  }

  .stuff {
    opacity: 0;
    filter: blur(5px);
    /* transform: translateX(-100%); */
    transition: all 1.25s;
  }

  @media (prefers-reduced-motion) {
    .stuff {
      transition: none;
    }
  }
  .show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
  }
</style>

<script>
  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("show");
      } else {
        entry.target.classList.remove("show");
      }
    });
  });

  const hiddenElements = document.querySelectorAll(".stuff");

  hiddenElements.forEach((el) => observer.observe(el));
</script>

<section>
  <div
    class="bg-gray-500 py-8 font-inter text-4xl font-black lg:flex lg:items-center lg:justify-center lg:text-8xl"
  >
    <img
      src="/venta/garantia.png"
      alt="sello de garantia"
      class="mx-auto lg:mx-0"
    />

    <div class="text-center">
      <h2>7 días</h2>
      <h2>de Garantía</h2>
    </div>
  </div>
  <div class="inline-grid items-center bg-mango lg:grid-cols-2">
    <div class="">
      <img src="/venta/bereniceventa.png" alt="Berenice Bastidas" class="" />
    </div>
    <div class="h-full bg-secondary py-4 text-white">
      <div class="mx-10 mt-4 md:mx-auto md:mt-0 md:w-3/4">
        <h1 class="text-center font-inter text-3xl font-bold lg:text-5xl">
          Hola, soy Berenice
        </h1>

        <div class="mx-4 my-8 bg-white p-0.5"></div>
        <p class="text-sm md:text-xl">
          Ayudo a médicos, dentistas, psicólogos, nutriólogos, terapeutas y
          otros profesionales que se dedican a la consulta privada particular a
          incrementar su número de pacientes con estrategia a través de
          internet, incluso si van empezando desde cero y se sienten poco
          tecnológicos. Gracias a mi formación en psicología y desarrollo
          personal, traigo una perspectiva única al marketing digital. Inicié mi
          viaje como emprendedor digital en 2016, cuando la necesidad y
          desesperación me llevaron a encontrar una forma de poder llenar mi
          propia agenda de pacientes para la terapia. En esa búsqueda cree mi
          propia metodología de prospección de pacientes, y una vez que lo
          resolvi para mi, ahora con mis programas Incrementa Tu Consulta y
          Aumenta Pacientes, he podido compartir este conocimiento con otros
          profesionales de la salud que se dedican a la consulta privada,
          impactando de forma positiva en la vida de más de 200 alumnos que han
          pasado ya por mis formaciones de pago, teniendo presencia ya en 14
          países de Latinoamérica. Justo por eso, porque viví en carne propia el
          pasar de ser un terapeuta en modo supervivencia a construir unos de
          los cursos online para profesionales de la salud que quieren
          incrementar su número de pacientes y vivir de su consulta, más
          importantes del mercado digital, hoy estoy aquí para compartir todo
          este conocimiento y experiencia contigo, para que no importa en qué
          punto estés en tu camino, juntos podamos alcanzar nuevos horizontes.
          Este evento 100% digital está diseñado para ayudarte a dar el primer
          gran paso. Quiero mostrarte cómo es que mis alumnos están logrando
          generar desde cientos hasta miles de dólares en ventas en 21 días o
          menos, sin sistemas complejos, tecnología cara e incluso sabiendo
          hacer ellos mismos su propia publicidad, ahorrándose con esto lo que
          les cobrarías una agencia de publicidad.
        </p>
      </div>
    </div>
  </div>
  <div
    class="mx-4 my-20 text-center font-inter text-3xl font-bold text-ventaBlue md:text-5xl"
  >
    <h1>Testimonio</h1>
  </div>
  <div class="relative mt-[220px]">
    <div
      class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 transform md:w-[650px]"
    >
      <Videoplayer source="4qgL9sRgQss" />
    </div>
  </div>
  <div class="bg-mango pb-12 pt-44 md:py-64">
    <div class="mx-4 md:mx-0">
      <h1 class="text-center text-2xl font-bold text-white md:text-4xl">
        Mira las historias inspiradoras, los casos de éxito
      </h1>
      <h1 class="text-center text-2xl font-bold text-white md:text-4xl">
        que ya tomaron acción. <span class="font-extrabold text-ventaBlue"
          >¿Serás el próximo?</span
        >
      </h1>
    </div>
  </div>
  <div class="relative">
    <div
      class="w-full bg-ventaBlue pb-8 md:absolute md:left-1/2 md:top-1/2 md:-translate-x-1/2 md:-translate-y-1/2 md:transform md:bg-transparent"
    >
      <div class="mx-12 grid gap-12 md:grid-cols-3">
        <div>
          <Videoplayer source="kU8QkGrZqeM" />
        </div>

        <div>
          <Videoplayer source="RovCZO68eRA" />
        </div>

        <div>
          <Videoplayer source="T9bFZSCnWSo" />
        </div>
      </div>
    </div>
  </div>
  <div class="hidden bg-ventaBlue md:block md:py-28"></div>
  <div class="mt-12 md:mt-24">
    <img
      src={"/venta/centro.webp"}
      alt={`centro`}
      class="mx-auto"
      height={725}
      width={1426}
    />
    <div class="flex justify-center">
      <div class="md:text-2xl">
        {
          footerData.map((item) => {
            return (
              <div class="flex items-center space-x-2">
                <span class="h-6 flex-shrink-0">
                  <Check />
                </span>
                <p class="text-sm md:text-xl">
                  {item.desc} <span class="line-through">{item.price}</span>
                </p>
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="my-24">
      <CTAVenta />
    </div>
  </div>
  <Preguntas />
  <NewFooter />
</section>
