---
export interface Props {
  title: string;
}
const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/x-icon" href="/favicon.ico" />
  <meta name="generator" content={Astro.generator} />
  <meta
    name="description"
    content="Incrementa tu consulta y numero de pacientes utilizando las redes sociales"
  />
  <title>{title}</title>

  <style is="global">
    @font-face {
      font-family: "Coolvetica";
      src: url("/fonts/Coolvetica.ttf.woff") format("woff");
      font-weight: normal;
      font-style: normal;
      font-display: swap;
    }
  </style>

  <style>
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;900&display=swap");
  </style>

  <!-- <script async>
    (function (w, d, s, l, i) {
      w[l] = w[l] || [];
      w[l].push({ "gtm.start": new Date().getTime(), event: "gtm.js" });
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != "dataLayer" ? "&l=" + l : "";
      j.async = true;
      j.src = "https://www.googletagmanager.com/gtm.js?id=" + i + dl;
      f.parentNode.insertBefore(j, f);
    })(window, document, "script", "dataLayer", "GTM-MSQZL6Z");
  </script> -->

  <body>
    <!-- <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-MSQZL6Z"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript> -->

    <slot />
  </body>
</html>
