---
import { ChinneseCountDown } from "../pqina";
import HeroFormyt from "./HeroFormyt.astro";
---

<section
  class="h-full bg-[#ff5c00a2] bg-[url(/background_berenice.png)] bg-cover pb-12 text-white"
>
  <div class="header">
    <div
      class="container mx-auto grid items-center justify-items-center md:grid-cols-2"
    >
      <h1 class="mb-4 px-2 text-center text-3xl font-bold text-white md:mb-0">
        ENTRENAMIENTO DE 4 DÍAS
      </h1>
      <div>
        <ChinneseCountDown client:load />
      </div>
    </div>
  </div>
  <div class="container mx-auto">
    <div>
      <h1
        class="mx-4 rounded-lg p-4 px-2 text-center text-xl font-semibold md:mx-auto md:px-16 md:text-3xl"
      >
        Conoce el método <span class="underline">para multiplicar por 2</span>
        tu número de consultas aplicando <span class="underline"
          >estrategias comprobadas por 67 expertos</span
        > y sin tener que publicar en redes todos los días
      </h1>
      <div class="grid justify-items-center md:grid-cols-2">
        <img
          src={"/images/mockup_entrenamiento.png"}
          width={613}
          height={513}
          alt="Berenice Bastidas"
          class="place-self-center"
        />
        <div class="order-first md:order-last">
          <HeroFormyt />
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .header {
    padding-bottom: 1.52778%;
    padding-top: 0.694444%;
    padding-left: 0;
    background-color: rgba(7, 35, 147, 1);
    background-image: radial-gradient(
      circle,
      rgba(236, 19, 15, 1) 0%,
      rgba(159, 31, 29, 1) 100%
    );
  }
</style>
